<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-gray-100 text-gray-800">
    <h1 class="text-3xl font-bold mb-4">Folder</h1>


    <ul class="list-decimal list-inside">
    <% checklists.forEach( el => { %>
            <li class='todoItem my-2' data-id='<%=el._id%>'>
                <a href="/list/<%= el._id%>" class="text-blue-500 hover:underline"> <span><%= el.title%></span></a>
                <span class='obrisi'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2 class="text-2xl font-semibold mb-4"><%= user.userName %>, do you want to make another checklist?  </h2>

    <form action="/folder/<%= folderId %>/createChecklist" method='POST' class="mb-4">
        <input type="text" placeholder="Checklist name" name='title' class="border-2 border-gray-200 rounded px-4 py-2 mb-2 w-full focus:outline-none focus:border-blue-500">
        <input type="submit" class="py-2 px-4 bg-blue-500 text-white rounded cursor-pointer hover:bg-blue-600">
    </form>


    <script src="js/main.js"></script>
</body>
</html>

