<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <div class="container mx-auto p-5">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold text-blue-700"><%= checklist.title %></h1>
  </div>
    <h1 class="text-3xl font-bold"><%= checklist.title %></h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
                <span class="updateList" >update</span>
            </li>
    <% }) %>    
    </ul>

    <h2 class="text-2xl font-bold"><%= user.userName %> has <%= left %> things left to do.</h2>

    <button class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 cursor-pointer" id="list-reset">reset</button>
       
    <div class="relative">
        <button class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 cursor-pointer" id="copy-checklist">Copy Checklist</button>
      
        <!-- Overlay -->
        <div class="hidden fixed inset-0 bg-black opacity-25" id="overlay"></div>
      
        <!-- Copy the checklist form -->
        <form action="/list/<%= checklistId %>/copyChecklist" method="POST" class="hidden absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white shadow-lg rounded-lg p-6" id="copy-checklist-form">
          <input type="text" value="copy_of_<%= checklist.title %>" name="copyChecklist" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300 mb-4">
          <select name="folderId" id="folders" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300 mb-4">
            <option value="">Separate doc</option>
            <% folders.forEach((el) => { %>
            <option value="<%=el._id %>" class='Folders'>
              <%=el.name %>
            </option>
            <% }) %>
          </select>
          <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Submit</button>
        </form>
      </div>

    <form action="/list/<%= checklistId %>/createTodo" method="POST" class="mb-4">
        <input type="text" placeholder="Enter Todo Item" name="todoItem" class="px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
        <input type="submit" value="Submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 cursor-pointer">
      </form>

   
      
      <a href="/logout" class="text-blue-500 hover:text-blue-600">Logout</a>
</div>
    <script src="/js/main.js"></script>
</body>
</html>